/* .hero{
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 90vh;
    padding: 30px 0px;
    padding-top: 0.3vh;
    
    text-align: center;
    overflow: hidden;
    color: var(--text-color);
    align-items: center;
    
}
.hero::before{
    content: "";
    position: absolute;
    inset: 0;
    background: url(/src/assets/GeorgeBg2.jpg) center/cover no-repeat;
    filter: blur(4px);
    transform: scale(1.4);
    z-index: 0;
    background-position-y: -1%;
    background-position-x: 14vw;
} 
.hero > *{
    position: relative;
    z-index: 1;
} */

.hero{
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 91vh;
    text-align: center;
    overflow: hidden;
    color: var(--text-color);
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}
.hero::after{
    content: "";
    position: absolute;
    height:6vh;
    right: 0;
    bottom: 0;
    transform:rotate(45deg);


    background: var(--bg);
    width: 50%;
}
.hero .text{
    flex-basis: 60%;
} 

.hero h1{
    font-size: 3.5rem;
    font-weight: 700;
    margin-bottom: 20px;
    /* color: var(--bg); */
    line-height: 1.2;
    letter-spacing: -3.5px;
    top: 20vh;
}
.hero p{
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: -0.5px;
    color: var(--main);
    top: 22vh;
}
.hero .heroimg{
    flex-basis: 40%;
    
 
}
.heroimg img{
    width: 180%;
    height: inherit;
    object-fit: contain;
    object-position: center;
    border-top-left-radius:20px ;
    border-left: 10px dotted var(--main);
}
@media screen and  (min-width: 1630px) and (max-width: 1700px) {

    .heroimg img{
        width: 220%;
        height: auto;
    }
}
@media screen and  (min-width: 1300px) and (max-width: 1630px) {

    .heroimg img{
        width: 186%;
        height: auto;
    }
}
@media screen and  (min-width: 1000px) and (max-width: 1300px) {

    .heroimg img{
        width: 230%;
        height: auto;
    }
}
@media (max-width: 1000px) {
    .hero{
        flex-direction: column;
        height: auto;
    }
    .hero .text{
        flex-basis: 100%;
        padding: 20px;
    }
    .hero h1{
        font-size: 4rem;
        letter-spacing: -3px;
    }
    .hero p{
        font-size: 1.6rem;
        letter-spacing: -0.4px;
    }
    .hero .heroimg{
        flex-basis: 100%;
        
    }
    .heroimg img{
        width: 100%;
        height: 50vh;
        border-right: 10px dotted var(--main);
    }
}

@media (max-width: 768px) {
    .hero{
        flex-direction: column;
        height: auto;
    }
    .hero .text{
        flex-basis: 100%;
        padding: 20px;
    }
    .hero h1{
        font-size: 3rem;
        letter-spacing: -2.5px;
    }
    .hero p{
        font-size: 1.5rem;
        letter-spacing: -0.3px;
    }
    .hero .heroimg{
        flex-basis: 100%;
        
    }
    .heroimg img{
        width: 100%;
        height: 40vh;
        border-right: 10px dotted var(--main);
    }
}